<header class="page-header">
  <h1>Library <%= link_to 'Add a book', new_book_path, class: 'btn btn-success pull-sm-right' %></h1>

  <%= form_tag(books_path, :method => "get", id: "search-form") do %>
  <label for="s" class="sr-only">Search books</label>
  <%= text_field_tag :search, params[:search], id: "s", placeholder: "Search books...", class: 'form-control' %>
  <% end %>
</header>
<br/><br/>

<% if @books.present? %>
  <% @books.each do |book| %>
    <%= render 'book', :book => book %>
  <% end %>
<% else %>
  <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
<% end %>
